[submodule "RedFortressCommand"]
	path = RedFortressCommand
	url = https://github.com/bibindon/RedFortressCommand.git
[submodule "RedFortressSlideShow"]
	path = RedFortressSlideShow
	url = https://github.com/bibindon/RedFortressSlideShow.git
[submodule "RedFortressRender"]
	path = RedFortressRender
	url = https://github.com/bibindon/RedFortressRender.git
[submodule "InputDevice"]
	path = InputDevice
	url = https://github.com/bibindon/InputDevice.git
[submodule "SoundLib"]
	path = SoundLib
	url = https://github.com/bibindon/SoundLib.git
[submodule "PhysicsLib"]
	path = PhysicsLib
	url = https://github.com/bibindon/PhysicsLib.git
[submodule "QTE_Module"]
	path = QTE_Module
	url = https://github.com/bibindon/QTE_Module.git
