/.vs
/RedFortress/Bootstrapper1/bin
/RedFortress/Bootstrapper1/obj
/RedFortress/Bootstrapper1/starman.msi
/RedFortress/GenerateMapAndEnemyData/x64
*.user
/RedFortress/GenerateWixScript/x64
/RedFortress/Installer/bin/x64
/RedFortress/Installer/obj/x64
/RedFortress/packages
/RedFortress/UnitTest2/Output/x64/Debug/UnitTest2.dll
/RedFortress/UnitTest2/Output/x64/Debug/UnitTest2.exp
/RedFortress/UnitTest2/Output/x64/Debug/UnitTest2.lib
/RedFortress/UnitTest2/Output/x64/Debug/UnitTest2.pdb
/RedFortress/UnitTest2/Output/x64/Release/UnitTest2.dll
/RedFortress/UnitTest2/Output/x64/Release/UnitTest2.exp
/RedFortress/UnitTest2/Output/x64/Release/UnitTest2.lib
/RedFortress/UnitTest2/Output/x64/Release/UnitTest2.pdb
/RedFortress/UnitTest2/x64/Debug
/RedFortress/UnitTest2/x64/Release
