.vs
/RedFortress.old/Bootstrapper1/bin
/RedFortress.old/Bootstrapper1/obj
/RedFortress.old/Bootstrapper1/starman.msi
/RedFortress.old/GenerateMapAndEnemyData/x64
*.user
/RedFortress.old/GenerateWixScript/x64
/RedFortress.old/Installer/bin/x64
/RedFortress.old/Installer/obj/x64
/RedFortress.old/packages
/RedFortress.old/UnitTest2/Output/x64/Debug/UnitTest2.dll
/RedFortress.old/UnitTest2/Output/x64/Debug/UnitTest2.exp
/RedFortress.old/UnitTest2/Output/x64/Debug/UnitTest2.lib
/RedFortress.old/UnitTest2/Output/x64/Debug/UnitTest2.pdb
/RedFortress.old/UnitTest2/Output/x64/Release/UnitTest2.dll
/RedFortress.old/UnitTest2/Output/x64/Release/UnitTest2.exp
/RedFortress.old/UnitTest2/Output/x64/Release/UnitTest2.lib
/RedFortress.old/UnitTest2/Output/x64/Release/UnitTest2.pdb
/RedFortress.old/UnitTest2/x64
/RedFortress.old/RedFortress/x64
/RedFortress.old/x64
Debug
packages
Release
RedFortress2/MultiPassRendering/res/model2/marine/untitled.blend
RedFortress2/MultiPassRendering/res/model2/marine/untitled.blend1
/RedFortress2/MultiPassRendering/simple-directx9.aps
/RedFortress2/MultiPassRendering/res/model2/marine_512/marine.blend
/RedFortress2/MultiPassRendering/res/model2/marine_512/marine.blend1
/tools/__pycache__/BuildStageSelect3.cpython-313.pyc
/tools/__pycache__/EnhanceStageSelect2.cpython-313.pyc
/RedFortress2/MultiPassRendering/res/model2/marine_512_low/marine.blend
